{% extends "master.html" %}

{% block title %}Change Password{% endblock %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<div class="container">
    <h2>Change Password</h2>

    <!-- Form for Changing Password -->
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn">
            <button type="submit">Save Changes</button>
            <a href="{% url 'dashboard' %}" class="cancel">Cancel</a>
        </div>
    </form>

    {% if form.errors %}
        <div class="error-section">
            <p class="error-text">Please correct the errors below:</p>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
