{% extends "master.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}">

<h2>Login</h2>

<form method="post" class="form">
    {% csrf_token %}

    <!-- Display Non-Field Errors -->
    {% if form.non_field_errors %}
        <div class="form-errors">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <!-- Username Field -->
    <div class="form-group">
        <label for="id_username">Username:</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="error-message">
                {{ form.username.errors }}
            </div>
        {% endif %}
    </div>

    <!-- Password Field -->
    <div class="form-group">
        <label for="id_password">Password:</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="error-message">
                {{ form.password.errors }}
            </div>
        {% endif %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn">Login</button>
    <a href="{% url 'signup' %}" class="login-link">Don't Have An Account?</a>
</form>

{% endblock %}
