{% extends "master.html" %}

{% block content %}
    <h2>My Addresses</h2>

    <ul>
        {% for address in addresses %}
            <li>
                <span>{{ address.province }}</span><br>
                <span>{{ address.city }}</span><br>
                <span>{{ address.street }}</span><br>
                <span>{{ address.address_details }}</span><br>
                <span>{{ address.number }}</span><br>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_address' %}">Add address</a>
{% endblock %}