
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls {
    display: flex;
    align-items: rtl;
    font-size: 16px;
}

.controls strong {
    font-size: 16px;
    color:#7a0101;
}

.controls .dis {
    margin-left: 10px;
    color: #7a0101;
    text-decoration: none;
}

.controls .dis:hover {
    color: #420101;
}


.users_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.users_box:hover {
    background-color: #e9ecef;
}

.name {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-right: 100px;
}

.name:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Unread message indicator */
strong {
    font-size: 18px;
}