
.container {
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

/* Heading */
h2, h3 {
    text-align: center;
    color: #333;
}

/* Chat Form */
form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

textarea {
    width: 95%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 0 8px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

/* Send Button */
button {
    width: 40px;
    background-color: #98D8EF;
    color: white;
    border: none;
    margin-left: -10px;
    border-radius: 0 0 8px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #8cc8de;
}

.sent_message-box {
    background-color: #4A4947;
    color: white;
    padding: 12px;
    border-radius: 20px 20px 0 20px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    font-size: 14px;
    word-wrap: break-word;
    margin-left: auto;
}
.received_message-box {
    background-color: #D8D2C2;
    padding: 12px;
    color: black;
    border-radius: 20px 20px 20px 0;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    font-size: 14px;
    word-wrap: break-word;
    margin-right: auto;
    text-align: right;
    display: block;
}


.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: white;
}


.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
