
.product-page {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    background-color: #fff;
}
    .product-details {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
    .product-images {
        flex: 1;
    }

.users_images_container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.users_images_container a {
    display: inline-block;
    margin-right: 10px;
}

.users_images_container img {
    width: 129px;
    height: 85px;
    border-radius: 5px;
    object-fit: cover;
}
    .image-container {
        margin-bottom: 10px;
        text-align: center;
    }
    .image-container img {
        max-width: 100%;
        border-radius: 5px;
    }
    .delete-link {
        display: block;
        color: red;
        text-decoration: none;
        font-size: 0.9rem;
        margin-top: 5px;
    }
    .delete-link:hover {
        text-decoration: underline;
    }
    .product-info {
        flex: 2;
        direction: ltr;
    }
    .product-info p {
        margin: 5px 0;
    }
    .basket-form {
        margin: 20px 0;
    }


.btn-primary {
    background: white;
    color: green;
    border: none;
}

.btn-primary:hover {
    color: #175e17;
}
    .reviews-section {
        margin-top: 20px;
    }
    .reviews-list {
        list-style: none;
        padding: 0;
    }
.reviews-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px; /* Adjust as needed */
    line-height: 1.5;
}

.reviews-list li .stars {
    color: #ffc107; /* Gold color for filled stars */
    margin-right: 5px; /* Spacing before the review text */
}

    .action-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .btn {
        padding: 3px 5px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
    .btn-secondary {
        color: #007bff;
    }
    .btn-secondary:hover {
        color: #0056b3;
    }
    .btn-info {
        color: #17a2b8;
    }

    .btn-info:hover {
        color: #117a8b;
    }
.btn-danger {
    color: red;
}

.btn-danger :hover {
    color: #c9302c;
}

.btn-warning {
    color: blue;
}

.btn-warning:hover {
    color: #010d52;
}

    .btn-send {
        color: #06cc9a;
    }
    .btn-send:hover {
        color: #03ad82;
    }