
h2 {
    font-size: 28px;
    color: #4A4947;
    margin-bottom: 0;
    font-weight: bold;
}

.panel-links {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.panel-link {
    padding: 12px 25px;
    color: #705C53;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h3 {
    color: #543A14;
}

.panel-link:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.control-panel {
    display: flex;
    text-align: center;
}

.view, .add {
    padding: 20px;
    margin: 50px;
}
