/* Container specific to delete confirmation pages */
.delete-confirmation-container {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    text-align: center;
    margin: auto;
    margin-top: 50px;
}

/* Page Header */
.delete-confirmation-container h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

/* Confirmation Text */
.delete-confirmation-container .confirmation-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

/* Buttons */
.delete-confirmation-container button {
    color: red;
    background-color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 25px;
}

.delete-confirmation-container button:hover {
    color: #c9302c;
}

/* Cancel Link */
.delete-confirmation-container a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.delete-confirmation-container a:hover {
    color: #0056b3;
}
