body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4F4A45;
    color: black;
    padding: 15px 0px;
    display: flex-inline;
    align-items: center;
    height: 115px;
    margin-bottom: 30px;
}
header nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    border-top: 2px solid  #a8a8a8;

}

.title {
    color: black;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 2rem;
    flex-shrink: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

header nav a:hover {
    transform: scale(1.5);
}

.container {
    padding: 20px;
    max-width: 1300px;
    margin: auto;
    flex: 1;
}

.go-top {
    display: flex;
    align-items: center;
    margin: 25px;
    justify-content: center;
}
.go-top a {
    transition: transform 0.3s ease;
    color: #b8b8b8;
}

.go-top a:hover {
    color: black;
    transform: scale(1.3);
}

.prenav {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.prenav .logout {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.prenav .dash {
    text-decoration: none;
    color: #3D3D3D;
    margin-left: 10px;
}

.prenav .dash:hover {
    color: black;
}

.prenav .logout:hover {
    color: #c9302c;
}

.prenav .bag {
    text-decoration: none;
    color: green;
    margin-left: 10px;
}

.prenav .bag:hover {
    color: #175e17;
}

footer {
    background-color: #4F4A45;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 50px;
}

