.products-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;

}

.product-item {
    margin: 20px;
    position: relative;
    width: 150px;
}

.image-container {
    width: 150px;
    height: 100px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-info {
    height: 100px;
    background-color: white;
    padding: 5px;
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: -15px;
    text-align: left;
    border-bottom: 1px solid  #a8a8a8;
}

.product-link {
    text-decoration: none;
}

.product-info p {
    overflow: hidden;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.product-info span {
    decoration: none;
}

.product-info .price {
    font-weight: bold;
    font-size: 16px;
    color: #124a12;
}

.product-info .rating {
    font-size: 14px;
    color: #f39c12;
}


.image-container:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #a8a8a8;
}

.add-to-basket-button,
.delete-button,
.edit-button {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

.add-to-basket-button {
    font-size: 12px;
    background-color: white;
    color: green;
}

.add-to-basket-button:hover {
    color: #175e17;
}

.delete-button {
    color: red;
}

.delete-button:hover {
    color: #c9302c;
}

.edit-button {
    color: blue;
}

.edit-button:hover {
    color: #010d52;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
/* Search Section */
.search-section {
    text-align: center;
    margin-bottom: 30px;
}

.search-form {
    display: inline;
    justify-content: center;
    align-items: center;
}

.search-input {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: all 0.3s ease;
}


.search-button {
    padding: 10px 20px;
    margin-left: -5px;
    font-size: 14px;
    background-color: white;
    color: #ccc;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    color: black;
}

.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    color: black;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    overflow-y: auto;
    width: fit-content;
    margin: 0 auto;
}

.filter-section label {
    font-size: 12px;
    margin-right: 10px;
}

.filter-section input,
.filter-section select, {
    width: auto;
    padding: 5px;
    border-bottom: 2px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: 2px solid #ddd;
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.filter-section button {
    width: 92px;
    border: none;
    cursor: pointer;
    align: center;
    margin: 10px;
}
.filter-section .submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-section .reset {
    background-color: white;
    color: red;
}
.filter-section .reset:hover {
    color: #9c0303;
}

.filter-section .submit {
    color: green;
    background-color: white;
}
.filter-section .submit:hover {
    color: #175e17;
    background-color: white;
}
.custom-checkbox input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 0;
    justify-content: center;
}

.custom-checkbox label {
    cursor: pointer;
    color: #333;
    padding-left: 40px;
    position: relative;
}

.custom-checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 15px;
    background-color: #ccc;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.custom-checkbox label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #007bff;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    transform: translateX(15px);
}

.custom-checkbox label:hover:before {
    background-color: #b3b3b3;
}

.styled-checkbox label:hover:before {
    border-color: #0056b3;
}

.drop-box {
    cursor: pointer;
}

