{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<h2 align="center">Total Money Spent In The Current Year</h2>
<canvas id="myChart" style="width:1000px"></canvas>

<script>
var xValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Agu", "Sep", "Oct", "Nov", "Dec"];
var yValues = {{ each_month_purchases }};
var barColors = ["red", "green", "blue", "orange", "brown", "blue", "black", "green", "red", "yellow", "brown", "grey"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
    }
  }
});
</script>
{% endblock %}
