{% extends "master.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/a_product.css' %}">
<div class="all">
<div class="product-page">

    <h2>{{ product.title }}</h2>
    <div class="product-details">
        <!-- Images Section -->
        <div class="product-images">
            {% if images %}
                {% for image in images %}
                    <div class="image-container">
                        <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="Product Image"></a>
                        {% if user.is_staff %}
                            <a href="{% url 'confirm_product_picture_delete' product_picture_id=image.id %}" class="delete-link">Delete Image</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="image-container">
                    <a href="{{ product.category.image.url }}"><img src="{{ product.category.image.url }}" alt="Category Image"></a>
                </div>
            {% endif %}
        </div>

        <div class="product-info">
            <p>
              <strong>Price:</strong>
              {% if product.discount and product.discount.percentage != 0 %}
                <span style="text-decoration: line-through; color: gray;">${{ product.raw_price|floatformat:2 }}</span>
                <span style="margin-left: 10px; font-weight: bold; color: green;">${{ product.price|floatformat:2 }}</span>
                <p><strong>Discount:</strong> {{ product.discount.percentage }}%</p>
              {% else %}
                ${{ product.price }}
              {% endif %}
            </p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Insurance:</strong> {{ product.insurance }}</p>
            <p><strong>Rating:</strong> {{ product.rate|floatformat:2 }} / 5</p>
            <p><strong>Number Of Reviews:</strong> {{ number_of_reviews }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
        </div>
    </div>

    <!-- Add to Basket Button -->
    {% if user.is_authenticated and not user.is_staff %}
        <form method="post" action="{% url 'add_to_basket' product_id=product.id %}" class="basket-form">
            {% csrf_token %}
            <button title="Add To Cart" type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
            </button>
        </form>
    {% endif %}

{% if users_sent_images %}
    <h3>Users POV</h3>
    <div class="users_images_container">
        {% for image in users_sent_images %}
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="Product Image">
            </a>
        {% endfor %}
    </div>
{% endif %}
    <!-- Reviews Section -->
    <div class="reviews-section">
        <h3>Reviews</h3>
        {% if reviews %}
            <ol class="reviews-list">
                {% for review in reviews %}
                    <li>
                        {% if user.is_staff %}
                            <strong>{{ review.user }}:</strong>
                        {% endif %}
                        {{ review.rate }}★ - {{ review.description }}
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            No reviews
        {% endif %}
    </div>

    <div class="action-buttons">
        {% if user.is_authenticated and not user.is_staff %}
            <a title="Add Review" href="{% url 'add_review' product_id=product.id %}" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
              <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
              <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2"/>
            </svg>
            </a>
            <a title="Send Picture" href="{% url 'user_image' product_id=product.id %}" class="btn btn-send">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                  <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                </svg>
            </a>
        {% endif %}
        {% if user.is_staff %}
            <a title="Add Picture" href="{% url 'add_product_picture' product_id=product.id %}" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                  <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                </svg>
            </a>
            <a title="Edit Product" href="{% url 'edit_product' product_id=product.id %}" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
            </a>
            <a title="Delete Product" href="{% url 'confirm_product_delete' product_id=product.id %}" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
        {% endif %}
    </div>
    {% if messages %}
    <br>
        {% for message in messages %}
        <div class="error-message" style="color:red; font-size:16px;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <!-- Back to Products Link -->
</div>
</div>
{% endblock %}