{% extends "master.html" %}

{% block content %}
    <h2>Product</h2>
    <ul>
        {% for image in images %}
        <li>
            <img src="{{ image.image.url }}" alt="Product Image" width="75px" height="75px">
        </li>
        {% endfor %}
        <li>
            {{product.title}}
        </li>
        <li>
            {{product.price}}
        </li>
        <li>
            {{product.category}}
        </li>
        <li>
            {{product.insurance}}
        </li>
        <li>
            {{product.rate}}
        </li>
        <li>
            {{product.description}}
        </li>
    </ul>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_to_basket' product_id=product.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Add to my basket</button>
        </form>
    {% endif %}
    <ol>
        {% for review in reviews %}
            <li>
                {{review.rate}}
            </li>
            <li>
                {{review.description}}
            </li>
        {% endfor %}
    </ol>
    {% if user.is_authenticated %}
        <a href="{% url 'add_review' product_id=product.id %}">Add review</a>
    {% endif %}
    <a href="{% url 'products' category_id=product.category.id %}">Back to products</a>
{% endblock %}