{% extends "master.html" %}
{% block content %}
<h2>Add product</h2>

<form method="post">
    {% csrf_token %}

    <!-- Display Form Errors (Global Errors) -->
    {% if form.errors %}
        <div>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Form Fields -->
    {{ form.as_p }}

    <!-- Submit Button -->
    <button type="submit">Add Product</button>
    <a href="{% url 'categories' %}">Cancel</a>
</form>
{% endblock %}