{% extends "master.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<section class="search-section">
    <form method="get" action="{% url 'all_products' %}" class="search-form">
        <input type="text" name="query" placeholder="Search for products..." value="{{ request.GET.query }}" class="search-input">
        <button type="submit" class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>
</section>

<section class="filter-section">
    <form method="get" action="{% url 'all_products' %}" class="filter-form">
    <!-- Price Range -->
    <label for="min_price">Min Price:</label>
    <input type="number" id="min_price" name="min_price" value="{{ request.GET.min_price }}" min="0">

    <label for="max_price">Max Price:</label>
    <input type="number" id="max_price" name="max_price" value="{{ request.GET.max_price }}" min="0">

    <!-- Category Filter -->
    <label for="category">Category:</label>
    <select id="category" name="category" class="drop-box">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                {{ category.title }}
            </option>
        {% endfor %}
    </select>

    <!-- Discount Filter -->
<div class="custom-checkbox">
    <input type="checkbox" id="discount" name="discount" {% if request.GET.discount %}checked{% endif %}>
    <label for="discount">Only Discounted Products</label>
</div>
<div class="submit-box">
    <button type="submit">Apply Filters</button>
    <button class="reset" type="reset" onclick="window.location.href='{% url 'all_products' %}'">Reset Filters</button>
</div>
</form>
</section>

<section class="products">
    <h2>Products</h2>
    {% if products %}
        <div class="products-container">
            {% for product in products %}
                <div class="product-item">
                    <a href="{% url 'a_product' product_id=product.id %}" class="product-link">
                        <div class="image-container">
                            {% if product.productpicture_set.exists %}
                                {% with product.productpicture_set.first as first_picture %}
                                    <img src="{{ first_picture.image.url }}" alt="{{ product.title }}" width="400px" height="250px">
                                {% endwith %}
                            {% else %}
                                <img src="{{ product.category.image.url }}" alt="{{ product.category.name }}" width="400px" height="250px">
                            {% endif %}
                            <div class="overlay">
                                <h3>{{ product.title }}</h3>
                            </div>
                        </div>
                        <div class="product-info">
                            <p>{{ product.description }}</p>
                            <span class="rating">{{ product.rate|floatformat:0 }}★</span><br>
                            {% if product.discount and product.discount.percentage != 0 %}
                                <span class="price" style="text-decoration: line-through; color: gray;">${{ product.raw_price|floatformat:2 }}</span>
                                <span class="price" style="color: green;">${{ product.price|floatformat:2 }}</span>
                            {% else %}
                                <span class="price">{{ product.price|floatformat:2 }}$</span>
                            {% endif %}
                        </div>
                    </a>
                <div class="actions">
                    {% if user.is_authenticated and not user.is_staff %}
                        <form method="post" action="{% url 'add_to_basket' product_id=product.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="add-to-basket-button">Add to Basket</button>
                        </form>
                    {% endif %}
                </div>
                {% if user.is_staff %}
                    <a href="{% url 'edit_product' product_id=product.id %}" class="edit-button">Edit</a>
                    <a href="{% url 'confirm_product_delete' product_id=product.id %}" class="delete-button">Delete</a>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products available.</p>
    {% endif %}
</section>
{% endblock %}
