{% extends "master.html" %}


{% block content %}

    <h2>Categories</h2>
        {% if user.is_staff %}
            <a href="{% url 'add_category' %}">Add new category</a><br>
        {% endif %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'products' category_id=category.id %}">{{ category.title }}</a>
                <img src="{{ category.image.url }}" alt="{{ category.title }}" width="50px" height="50px">
                {% if user.is_staff %}
                    <a href="{% url 'confirm_category_delete' category_id=category.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
