{% extends "master.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
<section class="categories">
    <div class="categories-container">
        {% for category in categories %}
            <div class="category-item">
                <a href="{% url 'products' category_id=category.id %}" class="category-link">
                    <div class="image-container">
                        <img src="{{ category.image.url }}" alt="{{ category.title }}" width="400px" height="250px">
                        <div class="overlay">
                            <h3>{{ category.title }}</h3>
                        </div>
                    </div>
                </a>
                {% if user.is_staff %}
                    <div class="admin-actions">
                        <a href="{% url 'edit_category' category_id=category.id %}" class="edit-button">Edit</a>
                        <a href="{% url 'confirm_category_delete' category_id=category.id %}" class="delete-button">Delete</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
