{% extends "master.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/delete.css' %}">
<div class="delete-confirmation-container">
    <h1>Delete Product</h1>
    <p class="confirmation-text">Are you sure you want to delete the product {{ product.title }} ?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes</button>
    </form>

    <a href="{% url 'products' category_id=product.category.id %}" >Cancel</a>
</div>
{% endblock %}