{% extends "master.html" %}
{% load static %}
{% block title %}
  Home - E-commerce
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<section class="hero">
    <div class="hero-content">
        {% if user.is_authenticated %}
            <h2>Welcome to E-commerce {{ user.username }}</h2>
        {% else %}
            <h2>Welcome to E-commerce</h2>
        {% endif %}
        <p>Find the best deals on your favorite products!</p>
        <div class="categories-container">
            {% for category in categories %}

                <div class="category-item">
                    <a href="{% url 'products' category_id=category.id %}" class="category-link">
                        <div class="image-container">
                            <img src="{{ category.image.url }}" alt="{{ category.title }}" width="400px" height="250px">
                            <div class="overlay">
                                <h3>{{ category.title }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No categories available.</p>
            {% endfor %}
        </div>
        <br><br><br>
        <a href="{% url 'all_products' %}" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
            </svg>
            Shop Now
        </a>
    </div>
</section>
{% endblock %}
