{% extends "master.html" %}

{% block content %}
{% if request.user.is_staff %}
    <h2>Insurances</h2>

    <ul>
        {% for insurance in insurances %}
            <li>
                <a href="{% url 'insurances' %}">{{ insurance.name }}</a><br>
                <a href="{% url 'insurances' %}">{{ insurance.insurance_type }}</a><br>
                <a href="{% url 'insurances' %}">{{ insurance.expires }}</a><br>
                <a href="{% url 'insurances' %}">{{ insurance.description }}</a><br>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_insurance' %}">Add new Insurance</a>
    <a href="{% url 'categories' %}">Back to categories</a>
{% endif %}
{% endblock %}