<!DOCTYPE html>
    <html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %} ">Logout</a><br>
            {% else %}
                <a href="{% url 'login' %}" class="login-button">Login</a><br>
                <a href="{% url 'signup' %}" class="signup-button">Sign up</a><br>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}

    </body>
</html>